annotated-types
anyio
certifi
charset-normalizer
click
exceptiongroup
fastapi
h11
httptools
idna
pydantic
pydantic_core
python-dotenv
PyYAML
requests
sniffio
starlette
typing_extensions
urllib3
uvicorn
uvloop
watchfiles
websockets
